<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AnaRChy Golf</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet">
        <style>

        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand fw-bold" href="/">AnaRChy Golf</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Problems</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="col-md-10 main-content">
            <div id="page-content">
                <div id="problems-page" class="p-4">
                    <h2 class="mb-4"><a href="/download">👉Download submission.zip</a></h2>
                    <h2 class="mb-4">Problems</h2>
                    <h3 class="mb-4">Current Estimated Score: {{ overall_score }}</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Task <a href="/?sort=name">▼</a></th>
                                    <th>Summary</th>
                                    <th>Hardness <a href="/?sort=hardness">▼</a></th>
                                    <th>Size</th>
                                    <th>Score <a href="/?sort=score">▼</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks_info %}
                                <tr>
                                    <td>
                                        <a href="/problem/{{ task.name }}">{{ task.name }}</a>
                                    </td>
                                    <td> {{ task.summary }} </td>
                                    <td> {{ task.hardness }} </td>
                                    <td>
                                        {% if task.exists %}
                                            {{ task.size }} bytes
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ task.score }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>