<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AnaRChy Golf</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <style>
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 1em;
}
.color-grid {
    display: grid;
    gap: 2px;
}
.cell {
    aspect-ratio: 1;
    border-radius: 3px;
    position: relative;
    min-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
{% for i in range(10) %}
.legend .cell-{{ i }}::before {
    content: '{{ i }}';
    position: absolute;
}
{% endfor %}
.cell-0 {
    background-color: rgb(0, 0, 0);
    color: white;
}
.cell-1 {
    background-color: rgb(30, 147, 255);
    color: black;
}
.cell-2 {
    background-color: rgb(250, 61, 49);
    color: black;
}
.cell-3 {
    background-color: rgb(78, 204, 48);
    color: black;
}
.cell-4 {
    background-color: rgb(255, 221, 0);
    color: black;
}
.cell-5 {
    background-color: rgb(153, 153, 153);
    color: black;
}
.cell-6 {
    background-color: rgb(229, 59, 163);
    color: black;
}
.cell-7 {
    background-color: rgb(255, 133, 28);
    color: black;
}
.cell-8 {
    background-color: rgb(136, 216, 241);
    color: black;
}
.cell-9 {
    background-color: rgb(147, 17, 49);
    color: white;
}
#submission {
    font-family: monospace;
}
#stdout-log-text {
    font-family: monospace;
}
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand fw-bold" href="/">AnaRChy Golf</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Problems</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/explorer">🎯 Explorer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="col-md-10 main-content">
            <div id="page-content">
                <div id="detail-page" class="p-4">
                    <h2 class="mb-4">{{ task }}</h2>
                    <div>{{ summary }}</div>
                    <div class="text-muted">Hardness: {{ hardness }}</div>
                    <div class="text-muted">Shortest (Global): {{ global_shortest }} bytes</div>

                    <div class="mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="showLegend">
                            <label class="form-check-label" for="showLegend">
                                Show Legend
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="onlyFailed">
                            <label class="form-check-label" for="onlyFailed">
                                Show Only Failed Tests
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="showStdout">
                            <label class="form-check-label" for="showStdout">
                                Show Stdout
                            </label>
                        </div>
                        <div>
                            {% for hint in hints %}
                                <div class="text-muted">{{ hint }}</div>
                            {% endfor %}
                        </div>
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <button class=""nav-button prev" id="prevBtn" onclick="changeGrid(-1)">
                                <i class="bi bi-arrow-left"></i>
                            </button>
                            <input type="text" class="form-control w-25 mx-2" id="problemIdx" />
                            / {{ problem | length }}
                            <button class=""nav-button next" id="nextBtn" onclick="changeGrid(1)">
                                <i class="bi bi-arrow-right"></i>
                            </button>
                        </div>
                        <div class="grid-container">
                            <div>
                                <span>input</span>
                                <div class="color-grid m-4" id="input-grid"></div>
                            </div>
                            <div>
                                <span>expected</span>
                                <div class="color-grid m-4" id="output-grid"></div>
                            </div>
                            <div>
                                <span>actual</span>
                                <div class="color-grid m-4" id="actual-grid"></div>
                            </div>
                        </div>
                        <div id="stdout-log"></div>
                    </div>

                    <div class="mb-4">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <label for="submission" class="form-label">Submission</label>
                            <div id="submission-length" class="text-muted">{{ code | length }}</div>
                        </div>
                        <textarea class="form-control" id="submission" rows="10">{{ code }}</textarea>
                        <button class="btn btn-primary mt-2" onclick="submitBtn()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.getElementById('showLegend').addEventListener('change', function() {
                const legend = document.querySelector('.grid-container');
                if (this.checked) {
                    legend.classList.add('legend');
                } else {
                    legend.classList.remove('legend');
                }
            });
            document.getElementById('showStdout').addEventListener('change', function() {
                if (!this.checked) {
                    stdoutLog.innerHTML="";
                }
                updateDisplay();
            });

            const gridData = {{ problem | tojson }};
            const failedData = [];
            const inputGrid = document.getElementById('input-grid');
            const outputGrid = document.getElementById('output-grid');
            const stdoutLog = document.getElementById('stdout-log');
            const problemIdx = document.getElementById('problemIdx');
            const prevBtn = document.getElementById('prevBtn');
            const nextBtn = document.getElementById('nextBtn');
            let currentIndex = 0;

            function updateDisplay() {
                const useData = document.getElementById('onlyFailed').checked ? failedData : gridData;
                const grid = useData[currentIndex];
                prevBtn.disabled = currentIndex === 0;
                nextBtn.disabled = currentIndex === useData.length - 1;

                let inputHtml = '';
                let outputHtml = '';
                grid.input.forEach((row, rowIndex) => {
                    row.forEach((cell, colIndex) => {
                        inputHtml += `<div class="cell cell-${cell}"></div>`;
                    })
                })
                inputGrid.style.gridTemplateColumns = `repeat(${grid.input[0].length}, 1fr)`;
                inputGrid.style.gridTemplateRows = `repeat(${grid.input.length}, 1fr)`;
                inputGrid.innerHTML = inputHtml;
                grid.output.forEach((row, rowIndex) => {
                    row.forEach((cell, colIndex) => {
                        outputHtml += `<div class="cell cell-${cell}"></div>`;
                    })
                })
                outputGrid.style.gridTemplateColumns = `repeat(${grid.output[0].length}, 1fr)`;
                outputGrid.style.gridTemplateRows = `repeat(${grid.output.length}, 1fr)`;
                outputGrid.innerHTML = outputHtml;
                if(document.getElementById('showStdout').checked){
                    stdoutLog.innerHTML = `
                        <span>stdout</span>
                        <textarea class="form-control" id="stdout-log-text" rows="3">${grid.stdoutLog || ""}</textarea>
                    `;
                }

                if (grid.actual) {
                    let actualHtml = '';
                    grid.actual.forEach((row, rowIndex) => {
                        row.forEach((cell, colIndex) => {
                            actualHtml += `<div class="cell cell-${cell}"></div>`;
                        })
                    })
                    document.getElementById('actual-grid').style.gridTemplateColumns = `repeat(${grid.actual[0].length}, 1fr)`;
                    document.getElementById('actual-grid').style.gridTemplateRows = `repeat(${grid.actual.length}, 1fr)`;
                    document.getElementById('actual-grid').innerHTML = actualHtml;
                } else {
                    document.getElementById('actual-grid').innerHTML = '<div class="cell">N/A</div>';
                }

                problemIdx.value = currentIndex;
            }

            function changeGrid(direction) {
                const useData = document.getElementById('onlyFailed').checked ? failedData : gridData;
                const newIndex = currentIndex + direction;
                if (newIndex < 0 || newIndex >= useData.length) {
                    return; // Out of bounds
                }
                currentIndex = newIndex;
                updateDisplay();
            }

            problemIdx.addEventListener('change', (e) => {
                const useData = document.getElementById('onlyFailed').checked ? failedData : gridData;
                const idx = parseInt(e.target.value, 10);
                if (isNaN(idx) || idx < 0 || idx >= useData.length) {
                    e.target.value = currentIndex; // Reset to current index if invalid
                } else {
                    currentIndex = idx;
                    updateDisplay();
                }
            });

            updateDisplay();


            const textLength = document.getElementById('submission-length');
            const submission = document.getElementById('submission');
            submission.addEventListener('input', (e) => {
                textLength.textContent = e.target.value.length;
            });

            function submitBtn() {
                const code = submission.value;
                if (code.trim() === '') {
                    alert('Please enter your code before submitting.');
                    return;
                }
                fetch('/submit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ task: '{{ task }}', code: code })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        if (data.shortest) {
                            alert('Submission successful! size: ' + data.size + ', score: ' + data.score);
                        } else {
                            alert('Not the shortest but the submission has been saved. size: ' + data.size);
                        }
                    } else {
                        if (data.error_type === "test") {
                            alert('Submission failed at: ' + data.mismatch[0].index);
                            failedData.splice(0);
                            data.mismatch.forEach((m) => {
                                failedData.push({
                                    input: gridData[m.index].input,
                                    output: gridData[m.index].output,
                                    actual: m.output,
                                    stdoutLog: m.stdoutLog,
                                });
                            })
                            currentIndex = 0;
                            document.getElementById('onlyFailed').checked = true;
                            updateDisplay();
                        } else {
                            alert('An error occurred: ' + data.error_message);
                        }
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while submitting your code.');
                });
            }
        </script>
    </body>
</html>
